<%
 fillings = ["Carnitas", "Al Pastor", "Steak", "Fish"]
%>

<h1> I love tacos! </h1> 
<p> There are so many kinds of tacos:</p> 
<ul>
    <li>Carnitas</li>
    <li>Al Pastor</li>
    <li>Fish</li>
    <li>Steak</li>
</ul> 

<p>Currently, there are <%= fillings.count %> kinds of tacos. </p> 
