<%
ranks = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"]
suits = ["clubs", "diamonds", "hearts", "spades"]
%>

<h1>Pick a card!</h1>

<% for suit in suits %>]
    <% for rank in ranks %>
    <p> 
        <img src = "/images/cards/<%= rank %>_of_<%= suit %>.svg">
    </p> 
    <% end %>
<% end %>


<p>
    <a href = "/cards">Pick Again!</a> 
</p>